USE [master]
GO
/****** Object:  Database [mybankdb]    Script Date: 7/29/2018 8:32:05 PM ******/
CREATE DATABASE [mybankdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mybankdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mybankdb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'mybankdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mybankdb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mybankdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mybankdb]
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/29/2018 8:32:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[ID] [int] NULL,
	[NAME] [varchar](50) NULL,
	[BALANCE] [int] NULL,
	[TYPE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 7/29/2018 8:32:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_1](
	[ID] [int] NULL,
	[NAME] [varchar](50) NULL,
	[BALANCE] [int] NULL,
	[TYPE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
